<ng-container *ngFor="let scorehorserider of scoresShow">
    <sn-scorelist-rider [position]="scorehorserider.score.Result.p" [sum]="scorehorserider.score.SumDisplay" [draw]="scorehorserider.score.Draw" [riderfei]="scorehorserider.rider.Fei"></sn-scorelist-rider>
    <sn-scorelist-horse [outcome]="scorehorserider.score.Result.o" [position]="scorehorserider.score.Result.p" [ridername]="scorehorserider.rider.Name" [horsefei]="scorehorserider.horse.Fei"></sn-scorelist-horse>
    <sn-scorelist-scoretable [horsefei]="scorehorserider.horse.Fei" [riderfei]="scorehorserider.rider.Fei"></sn-scorelist-scoretable>
</ng-container>