<div class="col-sm-12">
  <div class="row" [class.dnf]="dnf">
    <div class="col-sm-12 rider-desc">
      <h3 class="rider-name"><ng-container *ngIf="sum > 0">[{{ sum }}] </ng-container><ng-container *ngIf="draw > 0">#{{ draw }} </ng-container>{{ rider.Name }}</h3>
      <ng-container *ngIf="rider.OtherName"> ({{ rider.OtherName }})</ng-container><br/><ng-container *ngIf="rider.Age">
        {{ rider.Age }} </ng-container>{{ rider.BaseDescriptor }} {{ rider.Fei }}
      <p *ngIf="rider.Notes !== ''" innerHTML="{{ rider.Notes }}">
      </p>
    </div>
  </div>
</div>