@import "src/variables.scss";

div {
  &.row {    
    margin-top: 50px;
  }

  &.rider-desc {
    padding-bottom: 10px;
    border-radius: 10px 10px 0 0;
    background-color: $background-header;

    h3.rider-name {
      font-weight: bold;
      display: inline;
    }
  }

  &.dnf {
    font-style: italic;
  }
}
