@import "src/variables.scss";
@import "horse-variables.scss";
@import "horse-svg.scss";

div.row {
  div {
    
    background-color: $background-panels;
    padding: 10px; 

    h3 {
      margin-bottom: 0;
    }
  }
}

div.dnf {
  font-style: italic;
  
  h4 {
    text-align: center;
  }

  div.main {
    display:none;
  }
}