$fill-red: #8B4513;
$highlight-red: #6B2D00;
$line-red: #000000;

$fill-brown: #4D260A;
$highlight-brown: #3E1A00;
$line-brown: #000000;

$fill-darkbrown: #311A16;
$highlight-darkbrown: #190c03;
$line-darkbrown: #000000;

$fill-black: #111111;
$highlight-black: #000000;
$line-black: #000000;

$fill-white: #F5F5F5;
$highlight-white: #696969;
$line-white: #FFFFFF;

$fill-yellow: #E4D128;
$highlight-yellow: #F7F72C;
$line-yellow: #FFFF00;

$fill-hoof-black: #202020; 
$fill-hoof-white: #f1e8d9; 
$fill-eye-brown: #1b0a03;
