@import "../../../../variables.scss";
@import "horse-variables.scss";
@import "horse-svg.scss";

td {
  border-bottom: 1px solid #0d3532;
  &.score-left {
    padding-right: 10px;
  }
}

div.row {
  div {
    
    background-color: $background-panels;
    padding: 10px;
    
    &.horse-desc {
      border-radius: 0 0 0 10px;
      border-bottom: 3px solid black;
    }

    &.horse-image {
      border-radius: 0 0 10px 0;
      border-bottom: 3px solid black;
    }    

    h3 {
      margin-bottom: 0;
    }
  }
}

div.dnf {
  font-style: italic;
  
  h4 {
    text-align: center;
  }

  div.main {
    display:none;
  }
}