<div class="row rider">
  <div class="col-sm-12 rider-desc">
    <h2 class="rider-name"><a href="https://www.fei.org/athlete/{{ rider.Fei }}/">{{ rider.Name }}</a>&nbsp;<a
        href="https://data.fei.org/Person/Performance.aspx?personfeiid={{ rider.Fei }}">[data]</a></h2>, <ng-container
      *ngIf="rider.Age">{{ rider.Age }} </ng-container><ng-container>{{ rider.BaseDescriptor }}</ng-container>
    </div>
    <div class="col-sm-12">
    <ng-container *ngFor="let horse of rider.horses">
      <sn-horse [horse]="horse"></sn-horse>
    </ng-container>
  </div>
</div>
<div class="row spacer"></div>