<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<div>
  Registered name: Quicklook V <br/>
  Stable name: Pebbles <br/> <br/>
  
  Most frequent rider: Gemma Tattersall <br/>
  Most recent rider: Gemma Tattersall <br/>
  Most successful rider: Gemma Tattersall <br/> <br/>
  
  Colour: Grey <br/>
  Sex: Mare <br/>
  Height: 16'1 <br/>
  Foaled: 2005 <br/>
  Studbook: Anglo European <br/> <br/>
  
  Sire: Urkel  <br/>
  Damsire: Quick Star
</div>

<router-outlet></router-outlet>
