$fill-red: #8B4513;
$highlight-red: #6B2D00;
$line-red: #000000;

$fill-brown: #4D260A;
$highlight-brown: #3E1A00;
$line-brown: #000000;

$fill-black: #303030;
$highlight-black: #414141;
$line-black: #000000;

$fill-white: #F5F5F5;
$highlight-white: #696969;
$line-white: #FFFFFF;

$fill-yellow: #E4D128;
$highlight-yellow: #F7F72C;
$line-yellow: #FFFF00;

$fill-hoof-black: #202020; 
$fill-eye-brown: #1B0903;

#signature {
    path {
        fill: $line-black
    }
}
#body-line {
    path {
        fill: $line-black
    }
}
#body-fill {
    path {
        fill: $fill-white
    }
}
#body-highlight {
    path {
        fill: $highlight-white
    }
}
#mane-tail-line {
    path {
        fill: $line-black
    }
}
#mane-tail-fill {
    path {
        fill: $fill-white
    }
}
#hoof-line {
    path {
        fill: $line-black
    }
}
#hoof-fill {
    path {
        fill: $fill-hoof-black
    }
}
#eye-fill {
    path {
        fill: $fill-eye-brown
    }
}

div.svg-brown {
    #mane-tail-fill {
        path {
            fill: $fill-brown
        }
    }
    #mane-tail-line {
        path {
            fill: $highlight-brown
        }
    }
    #body-fill {
        path {
            fill: $fill-brown
        }
    }
    #body-highlight {
        path {
            fill: $highlight-brown
        }
    }
}

div.svg-blackbay {
    #mane-tail-fill {
        path {
            fill: $fill-black
        }
    }
    #mane-tail-line {
        path {
            fill: $line-black
        }
    }
    #body-fill {
        path {
            fill: $fill-black
        }
    }
    #body-highlight {
        path {
            fill: $line-black
        }
    }
}

div.svg-bay {
    #mane-tail-fill {
        path {
            fill: $fill-black
        }
    }
    #mane-tail-line {
        path {
            fill: $line-black
        }
    }
    #body-fill {
        path {
            fill: $fill-brown
        }
    }
    #body-highlight {
        path {
            fill: $highlight-brown
        }
    }
}

div.svg-chestnut {
    #mane-tail-fill {
        path {
            fill: $fill-red
        }
    }
    #mane-tail-line {
        path {
            fill: $highlight-red
        }
    }
    #body-fill {
        path {
            fill: $fill-red
        }
    }
    #body-highlight {
        path {
            fill: $highlight-red
        }
    }
}

div.svg-palomino {
    #mane-tail-fill {
        path {
            fill: $fill-white
        }
    }
    #mane-tail-line {
        path {
            fill: $highlight-white
        }
    }
    #body-fill {
        path {
            fill: $fill-yellow
        }
    }
    #body-highlight {
        path {
            fill: $highlight-yellow
        }
    }
}

div.svg-grey {
    #mane-tail-fill {
        path {
            fill: $fill-white
        }
    }
    #mane-tail-line {
        path {
            fill: $highlight-white
        }
    }
    #body-fill {
        path {
            fill: $fill-white
        }
    }
    #body-highlight {
        path {
            fill: $highlight-white
        }
    }
}

div.svg-black {
    #mane-tail-fill {
        path {
            fill: $fill-black
        }
    }
    #mane-tail-line {
        path {
            fill: $line-black
        }
    }
    #body-fill {
        path {
            fill: $fill-black
        }
    }
    #body-highlight {
        path {
            fill: $line-black
        }
    }
}