@import "../../../variables.scss";
@import "horse-variables.scss";
@import "horse-svg.scss";

div.horse {
    div {
        background-color: $background-inner;
    }
}

div.horse-image {
    border-radius: 10px 0 0 10px;
    padding-bottom: 10px;
}

div.horse-desc {
    border-radius: 0 10px 10px 0;
}
