<div class="row rider">
  <div class="col-sm-12 rider-desc">
    <h3 class="rider-name">{{ rider.Name }}</h3> <ng-container *ngIf="rider.OtherName"> ({{ rider.OtherName }})</ng-container>, <ng-container
      *ngIf="rider.Age">{{ rider.Age }} </ng-container>{{ rider.BaseDescriptor }} {{ rider.Fei }}
      <p *ngIf="rider.Notes !== ''" innerHTML="{{ rider.Notes }}">      
      </p>
    </div>
    <div class="col-sm-12">
    <ng-container *ngFor="let horse of horsesShow">
      <sn-riderlist-horse [horse]="horse" [ridername]="rider.Name" [riderfei]="rider.Fei"></sn-riderlist-horse>
    </ng-container>
  </div>
</div>