#mane-tail-fill {
    path {
        fill: black
    }
}
#mane-tail-line {
    path {
        fill: rgb(60, 60, 60)
    }
}
#body-fill {
    path {
        fill: saddlebrown
    }
}
#body-line {
    path {
        fill: black
    }
}
#body-highlight {
    path {
        fill: rgb(95, 48, 14)
    }
}
#hoof-fill {
    path {
        fill: rgb(32, 32, 32)
    }
}
#hoof-line {
    path {
        fill: black
    }
}
#eye-fill {
    path {
        fill: rgb(66, 33, 10)
    }
}
#signature {
    path {
        fill: black
    }
}