#signature {
    path {
        fill: black
    }
}
#body-line {
    path {
        fill: black
    }
}
#body-fill {
    path {
        fill: white
    }
}
#body-highlight {
    path {
        fill: dimgrey
    }
}
#mane-tail-line {
    path {
        fill: black
    }
}
#mane-tail-fill {
    path {
        fill: white
    }
}
#hoof-line {
    path {
        fill: black
    }
}
#hoof-fill {
    path {
        fill: rgb(32, 32, 32)
    }
}
#eye-fill {
    path {
        fill: rgb(36, 18, 6)
    }
}

div.svg-bay {
    #mane-tail-fill {
        path {
            fill: black
        }
    }
    #mane-tail-line {
        path {
            fill: rgb(60, 60, 60)
        }
    }
    #body-fill {
        path {
            fill: saddlebrown
        }
    }
    #body-highlight {
        path {
            fill: rgb(95, 48, 14)
        }
    }
}

div.svg-chestnut {
    #mane-tail-fill {
        path {
            fill: saddlebrown
        }
    }
    #mane-tail-line {
        path {
            fill: rgb(95, 48, 14)
        }
    }
    #body-fill {
        path {
            fill: saddlebrown
        }
    }
    #body-highlight {
        path {
            fill: rgb(95, 48, 14)
        }
    }
}

div.svg-grey {
    #body-fill {
        path {
            fill: whitesmoke
        }
    }

    #hoof-fill {
        path {
            fill: lightgray
        }
    }
}