$fill-brown: #8B4513;
$highlight-brown: #3E1A00;
$line-brown: #000000;
$fill-black: #000000;
$highlight-black: #3c3c3c;
$line-black: #000000;
$fill-white: #f5f5f5;
$highlight-white: #696969;
$line-white: #ffffff;

$fill-hoof-black: #202020; 
$fill-eye-brown: #1b0903;

#signature {
    path {
        fill: $line-black
    }
}
#body-line {
    path {
        fill: $line-black
    }
}
#body-fill {
    path {
        fill: $fill-white
    }
}
#body-highlight {
    path {
        fill: $highlight-white
    }
}
#mane-tail-line {
    path {
        fill: $line-black
    }
}
#mane-tail-fill {
    path {
        fill: $fill-white
    }
}
#hoof-line {
    path {
        fill: $line-black
    }
}
#hoof-fill {
    path {
        fill: $fill-hoof-black
    }
}
#eye-fill {
    path {
        fill: $fill-eye-brown
    }
}

div.svg-bay {
    #mane-tail-fill {
        path {
            fill: $fill-black
        }
    }
    #mane-tail-line {
        path {
            fill: $highlight-black
        }
    }
    #body-fill {
        path {
            fill: $fill-brown
        }
    }
    #body-highlight {
        path {
            fill: $highlight-brown
        }
    }
}

div.svg-chestnut {
    #mane-tail-fill {
        path {
            fill: $fill-brown
        }
    }
    #mane-tail-line {
        path {
            fill: $highlight-brown
        }
    }
    #body-fill {
        path {
            fill: $fill-brown
        }
    }
    #body-highlight {
        path {
            fill: $highlight-brown
        }
    }
}

div.svg-grey {
    #mane-tail-fill {
        path {
            fill: $fill-white
        }
    }
    #mane-tail-line {
        path {
            fill: $highlight-white
        }
    }
    #body-fill {
        path {
            fill: $fill-white
        }
    }
    #body-highlight {
        path {
            fill: $highlight-white
        }
    }
}

div.svg-black {
    #mane-tail-fill {
        path {
            fill: $fill-black
        }
    }
    #mane-tail-line {
        path {
            fill: $highlight-black
        }
    }
    #body-fill {
        path {
            fill: $fill-black
        }
    }
    #body-highlight {
        path {
            fill: $highlight-black
        }
    }
}