/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "variables.scss";

body, div {
    background-color: $background-body;
    color: $default-text;
}

a, a:visited, a:hover, a:active {
    color: $default-links;
}

h1 {
    text-align: center;
}
