/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body, div {
    background-color: #0a4d48;
    color: #6da2a2;
}

a, a:visited, a:hover, a:active {
    color: #ffffff;
}

h1 {
    text-align: center;
}
